<div class="container" style="margin-top: 100px">
  <%= flash_messages %>
  <div class="row">
    <%= render 'shared/admin_menu' %>
    <div class="col-sm-8">
      <%= semantic_form_for @company,
        url: @company.new_record? ? admin_companies_path : admin_company_path(@company),
        remote: true,
        :html => { :class => 'form-horizontal' } do |f| %>
        <%= f.semantic_errors %>
        <%= f.inputs do %>
          <%= f.input :name, :input_html => {class: ''} %>
          <%= f.input :address, :input_html => {class: ''} %>
          <%= f.input :longitude, :input_html => {class: ''} %>
          <%= f.input :latitude, :input_html => {class: ''} %>
          <%= f.input :mobile_phone, :input_html => {class: ''} %>
          <%= f.input :home_phone, :input_html => {class: ''} %>
          <%= f.input :work_phone, :input_html => {class: ''} %>
          <%= f.input :email, :input_html => {class: ''} %>
          <%= f.input :ceo, :input_html => {class: ''} %>
          <%= f.input :tax_code, :input_html => {class: ''} %>
          <%= f.input :logo, :input_html => {class: ''} %>
          <%= f.input :background_url, :input_html => {class: ''} %>
          <%= f.input :image_url, :input_html => {class: ''} %>
          <%= f.input :image_title, :input_html => {class: ''} %>
          <%= f.input :image_description, :input_html => { :class => 'autogrow', :rows => 10, :cols => 20 } %>
          <%= f.input :about_us_title, :input_html => {class: ''} %>
          <%= f.input :about_us_content, :input_html => { id: 'editor_about_us_content', :class => 'autogrow', :rows => 10, :cols => 20 } %>
          <%= f.input :facebook, :input_html => {class: ''} %>
          <%= f.input :google_plus, :input_html => {class: ''} %>
          <%= f.input :twiter, :input_html => {class: ''} %>
          <%= f.input :youtube, :input_html => {class: ''} %>
          <%= f.input :linkedin, :input_html => {class: ''} %>
          <%= f.input :partners, :input_html => {class: ''} %>
        <% end %>
        <%= f.actions do %>
          <%= f.action :submit, wrapper_html: { class: 'btn btn-success' } %>
          <%= f.action :cancel, :as => :link %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div style="height: 50px;"></div>
</div>
 <script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.xc
    CKEDITOR.editorConfig = function( config ){
          // Define changes to default configuration here. For example:
          // config.language = 'fr';
          // config.uiColor = '#AADC6E';
          config.height = '800px';
      };
    CKEDITOR.replace('editor_about_us_content',{
      height: '800px'
    });
</script>
