
<%= render '/shared/main_slider' %>
<div class="feature">
    <div class="container">
      <div class="text-center">
        <%= render partial: 'shared/service', collection: @services %>
      </div>
    </div>
</div>

<div class="about">
  <div class="container">
    <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
      <h2><%= @company.image_title_vn %> </h2>
      <img src="<%= @company.image_url %>" class="img-responsive"/>
      <p><%= @company.image_description_vn %>
      </p>
    </div>

    <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
      <h2><%= @company.about_us_title_vn %> </h2>
      <p><%= @company.about_us_content_vn%></p>
    </div>
  </div>
</div>
<%= render partial: 'products' %>
<section id="conatcat-info">
      <div class="container">
          <div class="row">
              <div class="col-sm-8">
                  <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                      <div class="pull-left">
                          <a href="tel:<%= @company.mobile_phone %>"><i class="fa fa-phone"></i><a/>
                      </div>
                      <div class="media-body">
                          <h2><%= t('message.contact') %></h2>
                          <p>Hot Line: <%= @company.phone %></p>
                      </div>
                  </div>
              </div>
          </div>
      </div><!--/.container-->
</section><!--/#conatcat-info-->


