
<%= render '/shared/main_slider' %>
<div class="feature">
    <div class="container">
      <div class="text-center">
        <%= render partial: 'shared/service', collection: @services %>
      </div>
    </div>
</div>

<div class="about">
  <div class="container">
    <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
      <h2><%= @company.image_title_vn %> </h2>
      <img src="<%= @company.image_url %>" class="img-responsive"/>
      <p><%= @company.image_description_vn %> 
      </p>
    </div>

    <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
      <h2><%= @company.about_us_title_vn %> </h2>
      <p><%= @company.about_us_content_vn%></p>
    </div>
  </div>
</div>

<div class="lates">
  <div class="container">
    <div class="text-center">
      <h2>Lates News</h2>
    </div>
    <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
      <img src="images/4.jpg" class="img-responsive"/>
      <h3>Template built with Twitter Bootstrap</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
      libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
      libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
      libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
      </p>
    </div>

    <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
      <img src="images/4.jpg" class="img-responsive"/>
      <h3>Template built with Twitter Bootstrap</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
      libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
      libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
      libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
      </p>
    </div>

    <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
      <img src="images/4.jpg" class="img-responsive"/>
      <h3>Template built with Twitter Bootstrap</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
      libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
      libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
      libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
      </p>
    </div>
  </div>
</div>

<section id="partner">
      <div class="container">
          <div class="center wow fadeInDown">
              <h2>Our Partners</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
          </div>

          <div class="partners">
              <ul>
                  <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="images/partners/partner1.png"></a></li>
                  <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="images/partners/partner2.png"></a></li>
                  <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="images/partners/partner3.png"></a></li>
                  <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="images/partners/partner4.png"></a></li>
                  <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="images/partners/partner5.png"></a></li>
              </ul>
          </div>
      </div><!--/.container-->
</section><!--/#partner-->

<section id="conatcat-info">
      <div class="container">
          <div class="row">
              <div class="col-sm-8">
                  <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                      <div class="pull-left">
                          <i class="fa fa-phone"></i>
                      </div>
                      <div class="media-body">
                          <h2><%= t('message.contact') %></h2>
                          <p>Hot Line: <%= @company.phone %></p>
                      </div>
                  </div>
              </div>
          </div>
      </div><!--/.container-->
</section><!--/#conatcat-info-->


