<tr id="service-<%= contact.id %>">
  <td><%= contact.name %></td>
  <td><%= contact.email %></td>
  <td><%= contact.phone %></td>
  <td><%= contact.company %></td>
  <td><%= contact.subject %></td>
  <td><%= contact.message %></td>
</tr>