<%= semantic_form_for @product,
  url: @product.new_record? ? admin_products_path : admin_product_path(@product),
  remote: true,
  html: { :class => 'form-horizontal' } do |f| %>
  <%= f.semantic_errors %>
  <div class="row">

  </div>
  Images <span class="pull-right"><button id="add_image" type="button" class="btn btn-success text-right">Add Image</button></span>

  <hr/>
  <div id="images">
    <%= f.semantic_fields_for :images do |h| %>
      <div id="panel_image_<%= h.index %>" class="panel panel-info">
        <div class="panel-heading">Image <%= h.index + 1 %> <span class="pull-right"><button type="button" data-id="<%= h.index %>" class="del-image btn btn-danger btn-sm">Del</button></span></div>
        <div class="panel-body">
          <%= h.input :_destroy, as: :hidden %>
          <%= h.input :title %>
          <%= h.input :url_thumb %>
          <%= h.input :url %>
          <%= h.input :position %>
        </div>
      </div>

    <% end %>
  </div>
  Information
  <hr/>
  <%= f.inputs do %>
    <%= f.input :company_id, as: :hidden %>
    <%= f.input :name %>
    <%= f.input :summary_description,  :input_html => { :class => 'autogrow', :rows => 5, :cols => 20} %>
    <%= f.input :image_url %>
    <%= f.input :image_thumb %>
    <%= f.input :status, as: :select, collection: options_for_select(Product.statuses.keys, f.object.status.to_s) %>
    <%= f.input :main_product %>
    <%= f.input :product_type_id, as: :select, collection: @product_typies %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, wrapper_html: { class: 'btn btn-success' } %>
    <%= f.action :cancel, :as => :link %>
  <% end %>
<% end %>
 <script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.xc
    CKEDITOR.editorConfig = function( config ){
          // Define changes to default configuration here. For example:
          // config.language = 'fr';
          // config.uiColor = '#AADC6E';
          config.height = '800px';
      };
    CKEDITOR.replace('product_summary_description',{
      height: '100px'
    });
</script>
