  <div class="aboutus">
    <div class="container">
      <h3><%= t('about.company_name') %></h3>
      <ul class="contact">
        <li>
          <i class="fa fa-map-marker"></i>
          <span><%= @company.address %></span>
        </li>
        <li>
          <i class="fa fa-envelope-o" style='font-size: 20px'></i></i> 
          <span><%= @company.email %></span>
        </li>
        <% if @company.home_phone.present? %>
          <li>
            <i class="fa fa-phone-square"></i>
            <span><%= @company.home_phone %></span>
          </li>
        <% end %> 
        <li>
          <i class="fa fa-mobile"></i>
          <span><%= @company.work_phone %> - <%= @company.mobile_phone %></span>
        </li>
        <li>
          <i class="fa fa-male"></i>
          <span><%= @company.ceo %></span>
        </li>
        <li>
          <i class="fa fa-credit-card"></i>
          <span><%= @company.tax_code %></span>
        </li>
      </ul>
      <hr>
      <div class="col-md-7 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <img src="<%= @company.image_url %>" class="img-responsive">
        <h4><%= @company.about_us_title_vn %></h4>
        <p><%= @company.about_us_content_vn %></p>
      </div>
      <div class="col-md-5 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="skill">
          <h2>Lĩnh vực hoạt động</h2>
          <% @services.each  do |service|%>
          <div class="progress-wrap">
            <h4>- <%= service.name %></h4>
          </div>
          <% end %>
        </div>        
      </div>
    </div>
  </div>
  
  <div class="our-team">
    <div class="container">
      <h3><%= t('about.our_team') %></h3> 
      <div class="text-center">
        <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <img src="images/services/1.jpg" alt="" >
          <h4>Le Minh Tan</h4>
          <p>CEO</p>
        </div>
      </div>
    </div>
  </div>