<%= semantic_form_for @contact,
  url: contact_path, remote: true,
  html: { :class => 'contact-form' } do |f| %>
    <%= f.semantic_errors %>
    <%= f.inputs do %>
    <% end %>
    <div class="col-sm-12">
        <div class="form-group">
          <%= f.input :name, input_html: { class: 'form-control'}, required: true %>
        </div>
        <div class="form-group">
          <%= f.input :email, input_html: { class: 'form-control'}, required: true %>
        </div>
        <div class="form-group">
          <%= f.input :phone, input_html: { class: 'form-control'}, required: true %>
        </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.input :subject, input_html: { class: 'form-control'}, required: true %>

      </div>
      <div class="form-group">
        <%= f.input :message, input_html: { :class => 'autogrow', :rows => 8 }, required: true %>
      </div>
      <%= f.actions do %>
        <%= f.action :submit, label: :send, wrapper_html: { class: 'btn btn-success' } %>
      <% end %>
    </div>
<% end %>
