<%= content_for :head do %>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
<% end %>
<script>
  function initialize() {
    if(document.getElementById("googleMap") === null){
      return false;
    }

    var myLatLng = { lat: <%= @company.latitude %>, lng: <%= @company.longitude %>};
    var mapProp = {
      center:new google.maps.LatLng(myLatLng),
      zoom: 14,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });
    var infowindow = new google.maps.InfoWindow();
    infowindow.setContent("<p>CÔNG TY TNHH THIẾT KẾ XÂY DỰNG MIỀN ĐÔNG VÀ TÂY NGUYÊN<br/> 62/1 hẻm 159 đường 11, KP9, Trường Thọ, Thủ Đức, TP.HCM</p>");
    infowindow.open(map, marker);
  }
  if(google){
    google.maps.event.addDomListener(window, 'load', initialize)
    google.maps.event.addDomListener(window, 'page:load', initialize) 
  }

</script>
<section id="contact-page">
  <div class="container">
    <div class="row contact-wrap">
      <div class="col-sm-12 col-sm-offset-1">
        <h2><%= t('message.contact_title')%>: </h2>
        <h3><%= t('message.contact_body') %></h3>
        <p><%= t('message.contact_note')%></p>
        <ul class="contact">
          <li>
            <span class='color-blue'><%= t('models.company.tax_code') %>: </span>
            <span><%= @company.tax_code %></span>
          </li>
          <li>
            <span class='color-blue'><%= t('models.company.address') %>: </span>
            <span><%= @company.address %></span>
          </li>
          <li>
            <span class='color-blue'><%= t('models.company.email') %>: </span> 
            <span><%= @company.email %></span>
          </li>
          <li>
            <span class='color-blue'><%= t('models.company.phone') %>: </span>
            <span><%= @company.phone %></span>
          </li>
          <li>
            <span class='color-blue'><%= t('models.company.ceo') %>: </span>
            <span><%= @company.ceo %></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="row contact-wrap">
      <div class="status alert alert-success" style="display: none"></div>
      <%= render 'form' %>
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#contact-page-->
<div class="map">
  <div id="googleMap" style="height:380px;"></div>
</div>
  