<%= content_for :head do %>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
<% end %>
<script>
    function initialize() {

      var myLatLng = { lat: <%= @company.latitude %>, lng: <%= @company.longitude %>};
      var mapProp = {
        center:new google.maps.LatLng(myLatLng),
        zoom: 14,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
      var infowindow = new google.maps.InfoWindow();
      infowindow.setContent("<p>CÔNG TY TNHH THIẾT KẾ XÂY DỰNG MIỀN ĐÔNG VÀ TÂY NGUYÊN</p>");
      infowindow.open(map, marker);
    }
    google.maps.event.addDomListener(window, 'load', initialize);


</script>

<div id="breadcrumb">
    <div class="container">
      <div class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li>Contact</li>
      </div>
    </div>
  </div>

  <div class="map">
  <div id="googleMap" style="height:380px;"></div>
  </div>

  <section id="contact-page">
        <div class="container">
            <div class="center">
                <h2><%= t('message.contact_title')%></h2>
                <p><%= t('message.contact_body')%></p>
            </div>
            <div class="row contact-wrap">
                <div class="status alert alert-success" style="display: none"></div>
                <%= render 'form' %>
            </div><!--/.row-->
        </div><!--/.container-->
  </section><!--/#contact-page-->